
@{
    ViewBag.Title = "EnoloshkiMaterijali";
}
<!DOCTYPE html>
<html>
<body class="materijali">
 
    <div style="font-family:Century Gothic">
        <h3 style="color:white; text-align:center; font-size:46px;">Енолошки материјали и опрема</h3>
        <ul class="list-group list-group-horizontal-sm" style="color: #fe87a7">
            <li class="list-group-item">Стаклени шишиња</li>
            <li class="list-group-item">Пластични шишиња</li>
            <li class="list-group-item">Пакувања за вино</li>
            <li class="list-group-item">Раствори </li>
            <li class="list-group-item">Пестициди </li>
            <li class="list-group-item">Капаци за вино</li>
            <li class="list-group-item">Епрувети </li>
            <li class="list-group-item">Хартија за филтрирање</li>
        </ul>
    </div>

        <div class="outer">
            <div class="inner">
                <a class="container mat center-container" href="#0"></a>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container"></div>
                <div class="container mat image-container last"></div>
                <div class="bg"></div>
            </div>
        </div>


</body>
</html>
