@{
    ViewBag.Title = "Fermentacija";
}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="eden" style="color: white ">
        <br />
        <h1 style="text-align:center"><i>Енологија</i></h1>
        <hr />
        <br />
        <h5>
            Виното е алкохолен пијалак добиен со целосна или делумна ферментација на грозјето, плод на растението лоза.
            Трансформацијата на грозјето во вино се нарекува винификација, а науката за виното се нарекува енологија.
        </h5>
        <h5>
            Енологија е науката која се занимава со сите аспекти на виното и винарството од гроздоберот до шишето. Терминот доаѓа од грчкиот збор енос,
            што значи вино, и наставката -логија, што значи наука.
        </h5>
        <br /> <hr />

        <h2 style="margin-left: 189px; margin-top: 122px;"><b><i>Како се прави винотo?</i></b></h2>

        <div class="col-xs-6">
            <img src="~/lib/img/dexter.png" style="width: 285px; height: 210px; margin-left: 719px; margin-top: -130px;" />
        </div>
        <br /> <br /> <br />

        <div class="row">
            <div class="col-6">
                <img src="https://cdn2.justwineapp.com/assets/article/2019/01/whitevsred-glass.jpg" style="height: 281px; margin-left: 22px; border-radius: 4%;" />
            </div>
            <div class="col-6">
                <h4 style="text-align:center">Начини на правење вино</h4>

                <h5 style="text-indent: 0px;">
                    Црвеното вино се прави како белото вино, но постои една голема разлика. Црвеното вино ферментира заедно со лушпата од грозјето и
                    сокот во танкот. Додека, белите вина поминуваат низ преса пред ферментацијата, одвојувајќи го сокот од лушпата. Контактот на лушпата
                    при производство на црвено вино ја овозможува неговата боја, арома и текстура, додека квасецот го претвора шеќерот во алкохол.
                    Додека пулпата претежно обезбедува сок.
                </h5>
            </div>
        </div>


        <br /> <br /> <br />

        <div>
            <h4 style="text-align:center">Берба и гмечење на грозјето</h4>
            <h5>
                Бербата на црвеното грозје започнува кон крајот на летото до почетокот на есента, неколку недели откако првичната зелена боја
                на грозјето ќе се промени во темно црвена или сино-црна – овој период се нарекува прошарок. По бербата, грозјето поминува низ муљач кој што ги отстранува зрната од стеблата и
                може малку да ги исцеди за да потече сокот. Овој сок создаден во оваа фаза пред пресување е познат како слободен ток. Од овој
                момент започнува алкохолната ферментација. Рутински, многумина винари додаваат измерена доза на сулфур диоксид во оваа фаза, а и
                подоцна, за да ги убијат несаканите микроби и да ја минимизираат оксидацијата.
            </h5>

        </div>


        <br /> <br />

        <div>

            <h4 style="text-align:center">Ферментација и пресување</h4>

            <h5>
                Сокот, лушпата и семиња се познати како шира. Некои винари ја ладат ширата еден или два дена пред ферментацијата и овој процес
                се нарекува мацерација. Некои винари ја започнуваат алкохолната ферментација со додавање на комерцијален квасец, додека други
                оставаат на дивиот квасец кој се наоѓа на грозјето или постои во атмосферата на визбата да ја започне ферментацијата. Во секој
                случај, клетките на квасецот оживуваат во слаткиот раствор и почнуваат да го претвораат шеќерот во алкохол, топлина и јаглерод диоксид.
                Кога ќе започне ферментацијата, гасовите коишто се испуштаат од јаглерод диоксидот во текот на ферментацискиот процес ги туркаат лушпите
                на површината. Слојот што се создава од лушпите и другите цврсти материи е познат како капа. Бидејќи лушпите претставуваат извор на танини,
                ширата постојано треба да се меша со капата или да се испумпува низ капата секој ден. Традиционално се прави со тапкање на грозјето во
                садот.
            </h5> <br /> <br />

            <div>
                <img src="~/lib/img/slika.JPG" style=" height: 309px; margin-left: 247px; border-radius: 4%;" />
            </div>
            <br /> <br />
            <h5>
                Откога алкохолната ферментација ќе заврши винарите го вадат виното од комината. Ја префрлаат ширата во преса за вино, која ги
                одделува лушпата и семките од виното и ја притиска лушпата. Колку силно да се притисне ширата е клучна одлука за производство на вино.
                Премногу силното пресување носи груби танини. Премногу меко, може да го остави виното посветло во боја и со полесна текстура.
            </h5>

        </div>


        <br /> <br /> <br />

        <div class="row">

            <div class="col-6">
                <h4 style="text-align:center">Зреење во дабови буриња</h4>

                <h5 style="text-indent: 0px;">
                    Скоро сите црвени вина треба да стареат пред да бидат флаширани и продадени. Процесот може да трае од неколку месеци до неколку
                    години во големи резервоари, но дабовите буриња и садовите се препорачуваат за висококвалитетни, црвени вина со традиционален
                    стил. Обично, малолактичката ферментација се јавува за време на созревањето, а тоа е процес што ја претвора киселата јаболкова
                    киселина во помека млечна киселина. Може да се појави природно, но сепак винарот може да ја поттикне и со додавање на малолактичка
                    култура.
                </h5>

            </div>
            <div class="col-6">
                <img src="https://zemjodelie.mk/wp-content/uploads/2020/12/%D0%91%D1%83%D1%80%D0%B5-%D0%B2%D0%B8%D0%BD%D0%BE.jpg" style="height: 274px; width: 483px; margin-top: 46px; margin-left: 22px; border-radius: 4%;" />
            </div>
        </div>

        <div>
            <h5 style="text-indent: 0px;">
                Винарите користат дабови буриња за да му дадат ароми, вкусови и текстура на виното. Новите буриња даваат поинтензивни
                зачинети ароми и подобрени вкусови, додека неутралните садови како: буриња што претходно биле користени или садови направени од
                бетон или глина или пак иноксни, се користат главно за да се омекне текстурата на виното.
            </h5>
        </div>


        <br /> <br />

        <div class="row">
            <div class="col-6">
                <img src="~/lib/img/matno.JPG" style="height: 274px; width: 483px; margin-top: -16px; margin-left: 22px; border-radius: 4%;" />
            </div>
            <div class="col-6">

                <h5 style="text-indent: 0px;">
                    Црвеното вино се бистри за време на стареењето со преточување, бистрење и филтрација. Талогот од мртвите клетки на квасецот и
                    ситните парчиња од лушпата на грозјето се таложи за време на стареењето и се формира слој на дното на бурињата и танковите.
                    Преточување е процес во кој се одделува чистото вино од формираниот талог со помош на пумпа.
                </h5>

            </div>
        </div> <br />
        <div>
            <h5 style="text-indent: 0px;">
                Винарите исто така можат да ги регулираат црвените вина кои имаат премногу танински вкус или кои изгледаат заматено со процес
                наречен бистрење. Во овој процес се користат: белки од јајца, желатин или бентонит. Овие агенси имаат врзувачки способности;
                ги собираат несакани материи и потоа паѓаат на дното на танкот или бурето.
            </h5>
        </div>


        <br /> <br /> <br />

        <div class="row">

            <div class="col-6">
                <h4 style="text-align:center">Филтрирање и флаширање</h4>

                <h5 style="text-indent: 0px;">
                    Кога црвено вино е доволно зрело за флаширање, многу винари одлучуваат прво да го филтрираат. Грубата филтрација го отстранува
                    екстра талогот. Стерилна филтрација ги отстранува буквално сите преостанати квасци, како и микробите кои подоцна можат да го
                    расипат виното.
                </h5>
                <h5 style="text-indent: 0px;">
                    Винарите во денешно време имаат многу повеќе опции, техники и технологии отколку нивните антички претходници. Но, суштината на
                    правење на црвеното вино е се уште иста: земете слатко црно грозје и оставете квасецот да го претвори во пријатно црвено вино.
                </h5>
            </div>
            <div class="col-6">
                <img src="~/lib/img/flashiranje.JPG" style="height: 274px; width: 483px; margin-top: 46px; margin-left: 22px; border-radius: 4%;" />
            </div>
        </div>

        <div>
            <h5 style="text-indent: 0px;">Енолошките материјали кои се користат во процесот на правење вино може да ги погледнете </h5> <a style="font-family: Century Gothic" asp-area="" asp-controller="Home" asp-action="EnoloshkiMaterijali">ТУКА</a>

        </div>

        <div>
            <h5 style="text-indent: 0px;">Доколку сакате да дознаете повеќе за можните бои на виното, погледнете </h5> <a style="font-family: Century Gothic" asp-area="" asp-controller="Home" asp-action="Boja">ТУКА</a>

        </div>

        <div>
            <h5 style="text-indent: 0px;">Начинот на ферментација на виното можете подетално да го погледнете на видеото подолу:</h5>

        </div>

        <br />
        <video id="videoplayer" src="~/lib/video/final_620bd495488a3300c1373925_986922.mp4" controls width="650" ; height="450" style="margin-left:230px" loop></video>
        <br />

        <br />
        <br />

    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    var $item = $('.carousel-item');
    var $wHeight = $(window).height()-160;
  
    $item.eq(0).addClass('active');
    $item.height($wHeight);
    $item.addClass('full-screen');

    $('.carousel img').each(function () {
        var $src = $(this).attr('src');
        var $color = $(this).attr('data-color');
        $(this).parent().css({
            'background-image': 'url(' + $src + ')',
            'background-color': $color
        });
        $(this).remove();
    });

    $(window).on('resize', function () {
        $wHeight = $(window).height();
        $item.height($wHeight);
    });

    $('.carousel').carousel({
        interval: 6000,
        pause: "false"
    });
</script>
