@using Microsoft.AspNetCore.Identity
@inject SignInManager<ESApplicationUser> SignInManager
@inject UserManager<ESApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" style="font-family: Century Gothic" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light" style="font-family: Century Gothic">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" style="font-family: Century Gothic" asp-controller="Account" asp-action="Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" style="font-family: Century Gothic" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>

